<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'remote_storage' => [
        'driver' => 'file'
    ],
    'cache' => [
        'graphql' => [
            'id_salt' => '<id_salt_here>'
        ],
        'frontend' => [
            'default' => [
                'id_prefix' => '<id_prefix>'
            ],
            'page_cache' => [
                'id_prefix' => '<id_prefix>'
            ]
        ],
        'allow_parallel_generation' => false
    ],
    'config' => [
        'async' => 0
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'crypt' => [
        'key' => '<base64_crypt_key_here>'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '<db_host:port>',
                'dbname' => '<db_name>',
                'username' => '<db_user>',
                'password' => '<db_password>',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'session' => [
        'save' => 'files',
        'save_path' => '/tmp/magento_sessions'
    ],
    'lock' => [
        'provider' => 'db'
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'graphql_query_resolver_result' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1
    ],
    'downloadable_domains' => [
        'magento2-ce.local'
    ],
    'search' => [
        'engine' => 'elasticsearch8',
        'elasticsearch8_server_hostname' => 'elasticsearch',
        'elasticsearch8_server_port' => '9200',
        'elasticsearch8_index_prefix' => 'magento2',
        'elasticsearch8_timeout' => 15
    ],
    'install_options' => [
        'search-engine' => 'elasticsearch8',
        'elasticsearch-host' => 'elasticsearch',
        'elasticsearch-port' => '9200',
        'elasticsearch-index-prefix' => 'magento2',
        'elasticsearch-timeout' => '15'
    ],
    'install' => [
        'date' => '<install_date_here>'
    ]
];

